extends layout.pug 

block content
    div.createListContainer
        h2.addList Create a new list
        form(action="/lists/new" class="addListForm" method="post" style="display: none") 
            input(type="text", name="addListInput" class="addListInput")
            button(type="submit") Add a new list 
    select(name="task-lists")
        each list in lists
            option(value= list.id) #{list.name}  
    form(action="/tasks/new" class='newTaskForm' method="post")
        input(type="text", class='newTaskInput' name="new-task")
        button(type="submit") Add New Task
    if tasks 
        for task in tasks
            div= task.task