extends layout.pug 

block content 
    if errors 
        each error in errors 
            li= error
    form(action="/users/sign-up", method="post") 
        input(type="hidden", name="_csrf", value=token)
        label(for="username") Username: 
        input(type="text", name="username" value= newUser.username)
        label(for='email') Email: 
        input(type="text", name="email" value= newUser.email)
        label(for="password") Password: 
        input(type="password", name="password")
        label(for="confirmPassword") Confirm Password: 
        input(type="password", name="confirmPassword")
        button(type="submit") Sign Up